@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0: rgb(224, 224, 245);
    --cor1: rgb(187, 187, 225);
    --cor2: rgb(92, 92, 141);
    --cor3: rgb(18, 18, 110);
    --cor4: rgb(1, 1, 64);
}

body{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--cor4);  
}
div{
    margin: auto;
    width: 80vw;
    background-image: linear-gradient(to right, var(--cor4), var(--cor2), var(--cor4));
    margin-bottom: 5px;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

div a{
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
}
div a:hover{
    background-color: var(--cor0);
    color: black;
}
main{
    width: 80vw;
    background-color: var(--cor0);
    margin: auto;
    padding: 20px 10px 20px 10px;
}

h1{
    text-align: center;
    background-color: var(--cor4);
    padding: 10px 0px 10px 0px;
    color: white;
    font-size: 2em;
}
.img{
    display: block;
    margin: auto;
}
h2{
    text-align: center;
    background-color: var(--cor4);
    padding: 10px 0px 10px 0px;
    color: white;
    font-size: 1.3em;
}
article{
    width: 80vw;
    text-align: justify;
    margin: auto;
}
h3{
    margin-top: 10px;
    background-image: linear-gradient(to right, var(--cor3), var(--cor2), var(--cor3));
    color: white;
    padding: 3px;
}
p{
    padding: 5px 0px 5px 0px;
}
p a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
p a:hover{
    background-color: var(--cor4);
    color: white;
}