@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    background-color: rgb(187, 187, 225);
    margin-top: 20px;
    margin-bottom: 20px;
}

main{
    background-color: rgb(1, 1, 64);
    width: 90vw;
    margin: auto;
}

h1{
    color: white;
    text-align: center;
    padding: 20px;
}

picture img{
    display: block;
    margin: auto;
    padding: 20px;
    background-size: contain;
}

footer{
    padding-bottom: 20px;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
    font-style: bold;
    font-size: 1.5em;
    padding-bottom: 20px;
}
a:hover{
    color: black;
    background-color: white;
    padding-bottom: 0px;
    font-weight: bold;
}