@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 600px){
    main{
        background-color: rgb(1, 1, 64);
        width: 90vw;
        margin: auto;
    }
}

@media screen and (max-width: 450px) {
    main{
        background-color: rgb(1, 1, 64);
        width: 80vw;
        margin: auto;
    }
}

@media screen and (max-width: 300px) {
    main{
        background-color: rgb(1, 1, 64);
        width: 80vw;
        margin: auto;
    }
}