@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0: rgb(224, 224, 245);
    --cor1: rgb(187, 187, 225);
    --cor2: rgb(92, 92, 141);
    --cor3: rgb(18, 18, 110);
    --cor4: rgb(1, 1, 64);
}

body{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--cor0);  
}

main{
    background-color: var(--cor4);
    width: 90vw;
    margin: auto;
}

.menu{
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(to right, var(--cor4), var(--cor2), var(--cor4));
}

.menu a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.menu a:hover{
    background-color: var(--cor1);
    color: black;
}

h1{
    color: white;
    margin: 20px;
    text-align: center;
    font-size: 1.5em;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    
}

section a{
    border: 2px solid white;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section a:hover{
    background-color: var(--cor1);
    color: black;
}

.vazio{
    padding: 13px;
    border: 2px solid var(--cor4);
}

.vazio:hover{
    background-color: var(--cor4);
}