@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0: rgb(224, 224, 245);
    --cor1: rgb(187, 187, 225);
    --cor2: rgb(92, 92, 141);
    --cor3: rgb(18, 18, 110);
    --cor4: rgb(1, 1, 64);
}

body{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--cor2);  
}

main{
    margin: auto;
    width: 70vw;
    height: 90vh;
    background-color: var(--cor0);   
}

.menu{
    text-align: center;
    background-image: linear-gradient(to right, var(--cor4), var(--cor2), var(--cor4));
    padding: 20px 0px 20px 0px;
}

hr{
    height: 1px;
    border: none;
    background-color: white;
}
.menu a{
    text-decoration: none;
    color: greenyellow;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
   
}
.menu a:hover{
    background-color: white;
    color: black;
}

h1{
    text-align: center;
    background-image: linear-gradient(to right, var(--cor4), var(--cor2), var(--cor4));
    padding: 20px 0px 20px 0px;
    color: white;
}

.secao{
    display: block;
    width: 70vw;
    height: 60vh;
}

section{
    background-color: var(--cor4);
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 13px;
    column-gap: 10px; 
}

section a{
    text-align: center;
    width: 40px;
    color: white;
    text-decoration: none;
    padding: 10px 0px 10px 0px;
    border: solid 2px white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px var(--cor1);
    background-color: var(--cor3);
    font-weight: 600;
}

section a:hover{
    background-color: var(--cor1);
    color: black;
}
.none{
    height: 22px;
    border: solid 2px var(--cor4);
    box-shadow: 2px 2px 5px var(--cor4);
    background-color: var(--cor4);
}
.none:hover{
    background-color: var(--cor4);
}
