@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 800px){
    main{
        width: 90vw;
        background-color: var(--cor0);
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    header{
        width: 85vw;
    }
    header h1 {
        text-align: center;
        color: white;
        padding-bottom: 20px;
        font-size: 1.5em;
    }
    header h2{
        text-align: center;
        color: white;
        padding-bottom: 20px;
        font-size: 1.2em;
    }
    article{
        width: 85vw;
    }
    article h2{
        font-size: 1em;
    }
    article h3 {
        font-size: 1em;
    }
    article p {
        font-size: 0.9em;
    }
}


